@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
    #txtYear {
        position: absolute;
        /*width: 35px;
        height: 17px;*/
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.42px;
        color: #191919;
        border-top: none;
        border-right: none;
        border-left: none;
        background-color: transparent;
        resize: none;
        outline: none;
        width: 100%;
    }
    #btnApply {
        background-color: #916ACB;
        color: white;
        float: right;
    }
    #frame {
        position: absolute;
        width: 429px;
        background: #FFFFFF;
    }
</style>

<div>
    <h1>
        <a href="~/NBA.html">NBA</a>
    </h1>
</div>

@*<div>
    <div id="upperBar" style="width: 429px; height: 33px; background-color: #F6F6F6;">
        <label for="year">Year</label>
        <input id="txtYear" type="number" style="" />
        <input id="btnApply" type="button" value="Apply" style="" />
    </div>
    <div id="frame">

    </div>
</div>*@